@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var isAdmin = (bool)(ViewData["isAdmin"] ?? false);
}

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Welcome @ViewData["username"]</a>
    </li>
   
        @if (!isAdmin)
        {
            <li>
                <div class="d-flex align-items-center">
                    <button class="btn btn-outline-primary custom-cart-button position-relative p-1" onClick="goToCart()" style="min-width: 50px; height: 50px;">
                        <i class="bi bi-cart text-black" style="font-size: 1.5rem;"></i>

                        <span id="cart-count" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                      style="font-size: 0.75rem; padding: 4px 6px; line-height: 1;">

                        </span>
                    </button>

                    <button class="btn btn-outline-primary custom-cart-button position-relative p-1 mx-4" onClick="viewOrders()" style="min-width: 50px; height: 50px;">
                        <i class="bi bi-truck-front-fill text-black" style="font-size: 1.5rem;"></i>
                        Orders
                    </button>

                </div>
            </li>
        }

}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>


