@{
	ViewData["Title"] = "View Customer";
}

<h2>Customer Details</h2>

<table id="customerDetails" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">#User Id</th>
            <th scope="col">Username</th>
            <th scope="col">Full Name</th>
            <th scope="col">Phone Number</th> 
            <th scope="col">Roles</th>
            <th scope="col">Address</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script src="~/js/CustomerDetails.js"></script>
}

