@model List<Products>

<div class="container">
	<div class="row pt-4 pb-3">
		<div class="col-6">
			<H2>Products List</H2>
			@if (TempData["success"] != null)
			{
				<H3>@TempData["success"]</H3>
			}
		</div>
		<div class="col-6 text-end">
			<a class="btn btn-dark" asp-area="Admin" asp-controller="Product" asp-action="Create"><i class="bi bi-plus-circle"></i> Add New Product</a>
		</div>

	</div>

	<table id="categoryTable" class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Product Image</th>
				<th>Product Name</th>
				<th>Product Price</th>
				<th>Product Quantity</th>
				<th>Product Description</th>
				<th>Product Color</th>
				<th>Action</th>
			
			</tr>
		</thead>

		

	</table>

</div>

@section Scripts{
	<script src="~/js/Product1.js"></script>
}